@model TransactionViewModel
@using BusinessLayer.Models
<!--Modal Body Start-->
@{ 
    var transactionTypes = System.Enum.GetValues(typeof(BusinessLayer.Models.TransactionType));
    var costCategories = ViewBag.CostTypes as IEnumerable<TransactionCategoryDTO>;
    var incomesTypes = ViewBag.IncomeTypes as IEnumerable<TransactionCategoryDTO>;

}

<div class="modal-content">

    <!--Modal Header Start-->
    <div class="modal-header">
        <h4 class="modal-title">@(Model.TransactionId == 0 ? "New Transaction" : "Edit Transaction")</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <!--Modal Header End-->

    <form id="transactionForm" asp-action="Create" asp-controller="MyFinance" method="post" enctype="multipart/form-data">

        @Html.AntiForgeryToken()

        <div class="modal-body form-horizontal">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="form-group row">
                <label class="col-sm-12 col-form-label">Transaction Type</label>
                @foreach (var tp in transactionTypes)
                {
                    <label class="col-sm-6">

                        <input type="radio"
                               asp-for="@Model.TransactionType"
                               value="@Convert.ToInt32(tp)"
                               checked="@(Convert.ToInt32(tp) == (int)Model.TransactionType)"/>

                        @tp

                    </label>
                }
            </div>
            <div class="form-group row" id="cost-category-select">
                <label class="col-sm-12 col-form-label">Cost Category</label>
                <div class="col-sm-10">
                    <select id="costCategoryId" name="CostCategoryId" class="form-control">
                        @foreach(var item in costCategories)
                        {
                            <option value="@item.CategoryId">@item.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row" id="income-category-select">
                <label class="col-sm-12 col-form-label">Income Category</label>
                <div class="col-sm-10">
                    <select asp-for="@Model.IncomeCategoryId" class="form-control">
                        @foreach (var item in incomesTypes)
                        {
                            <option value="@item.CategoryId"
                                    selected="@(item.CategoryId == Model.IncomeCategoryId)">@item.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">
                @Html.HiddenFor(model => model.TransactionId)
                <label class="col-sm-12 col-form-label">Amount</label>
                <div class="col-sm-10">
                    <input asp-for="@Model.Amount" placeholder="$0" type="number" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-12 col-form-label">Date</label>
                <div class="col-sm-10">
                    <input asp-for="@Model.Date" type="date" placeholder="Date of birth" class="form-control"
                           value="@(Model.Date.HasValue ? Model.Date.Value.ToString("yyyy-MM-dd"): string.Empty)" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-12 col-form-label">Comment</label>
                <div class="col-sm-10">
                    <textarea asp-for="@Model.Comment" placeholder="Comment" class="form-control" />
                </div>
            </div>

        </div>
        <!--Modal Footer Start-->
        <div class="modal-footer">
            <button data-dismiss="modal" id="cancel" class="btn btn-default" type="button">Cancel</button>
            <button class="btn btn-success relative" id="submitTransaction" type="submit">
                Submit
            </button>
        </div>
        <!--Modal Footer End-->
    </form>

</div>
<!--Modal Body End-->
<script>
    (function ($) {
        const types = {
            income: 0,
            cost: 1,
        }
        toggleHandler();

        $('input[type="radio"][name="TransactionType"]').change(toggleHandler);


        function toggleHandler() {
            var selected = $('input[type="radio"][name="TransactionType"]:checked').val();
            console.log(selected);
            if (selected == types.cost) {
                $('#cost-category-select').show();
                $('#income-category-select').hide();
            }
            else {
                $('#cost-category-select').hide();
                $('#income-category-select').show();
            }
        }

    })(jQuery)
</script>
